<fieldset>
    <legend>Quality Control Legend</legend>
    <ol class="data-list legend">
        <li>
            <label>Computed Value</label>
            <span class="attribute computed">##</span>
        </li>
        <li>
            <label>Resolved Defect</label>
            <span class="defect unresolved resolved">##</span>
        </li>
        <li>
            <label>Product Spec Defect</label>
            <span class="defect unresolved">##</span>
        </li>
        <li>
            <label>Actionable Defect</label>
            <span class="defect unresolved actionable">##</span>
        </li>
        <li>
            <label>Contamination Defect</label>
            <span class="defect unresolved bacteria">##</span>
        </li>
    </ol>
</fieldset>