<!-- knockout templates -->
<script type="text/html" id="basic-display-template">
    <div data-bind="text: $data"></div>
</script>
<script type="text/html" id="checkbox-display-template">
    <input type="checkbox" data-bind="checked:$data" disabled="disabled" />
</script>
<script type="text/html" id="basic-editor-template">
    <input type="text" data-bind="value:$data" />
</script>
<script type="text/html" id="checkbox-editor-template">
    <input type="checkbox" data-bind="checked:$data" />
</script>