<div class="fxs-blade-locked fxs-blade fxs-bladesize-wide">
    <div class="fxs-blade-header">
        <div class="fxs-blade-statusbar-wrapper">
            <div class="fxs-blade-statusbar">Saving data...</div>
        </div>

        <fxs-blade-actions></fxs-blade-actions>

        <div class="fxs-blade-title">
            <div class="fxs-blade-title-text-container">
                <h2>Lab Results</h2>
            </div>
        </div>
    </div>

    <div class="fxs-blade-content" style="height: calc(100% - 117px); padding: 0;" data-bind="template: {name: 'lots-with-attributes-template' }"></div>
</div>