<!-- ko if: isInit -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Additional Inputs</h3>
  </div>
  <div class="table-responsive">
    <table class="reset table table-striped table-hover" data-bind="tabOnEnter: true">
      <thead>
        <tr>
          <th>Lot</th>
          <th>Product</th>
          <th>Origin Location</th>
          <th class="col-sm-2">Packaging</th>
          <th class="col-sm-1">Treatment</th>
          <th>Qty. Picked</th>
          <th>Weight</th>
          <th>Qty. Remaining</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-bind="foreach: PickedInventoryItems">
        <tr data-bind="css: { danger: hasError } ">
          <td>
            <div class="form-group" data-bind="css: { 'has-error': hasLotError }">
              <input type="text" class="form-control medium" style="display: inline" data-bind="value: LotKey.formattedLot, valueUpdate: 'input', enable: !LotKey.ajaxWorking()" />
            </div>
          </td>
          <td data-bind="text: InventoryProductName"></td>
          <td>
            <div class="form-group" data-bind="validationElement: OriginWarehouseLocation">
              <select class="form-control small-medium" data-bind="value: OriginWarehouseLocation, options: LocationOptions, optionsText: 'Description', optionsValue: 'LocationKey', optionsCaption: ' ', hasFocus: originWarehouseLocationHasFocus"></select>
            </div>
          </td>
          <td>
            <div class="form-group" data-bind="validationElement: PackagingProduct">
              <select class="form-control" data-bind="value: PackagingProduct, options: PackagingProductOptions, optionsText: 'ProductName', optionsCaption: ' '"></select>
            </div>
          </td>
          <td>
            <div class="form-group" data-bind="validationElement: InventoryTreatment">
              <select class="form-control" data-bind="value: InventoryTreatment, options: InventoryTreatmentOptions, optionsText: 'TreatmentNameShort', optionsValue: 'TreatmentKey'"></select>
            </div>
          </td>
          <td data-bind="css: { 'has-error': hasError }" class="form-group">
            <div class="form-group" data-bind="validationElement: QuantityPicked">
              <input type="text" class="form-control small" data-bind="value: QuantityPicked" />
            </div>
          </td>
          <td data-bind="text: WeightPicked.formatted" class="calc"></td>
          <td data-bind="text: QuantityRemaining" class="calc"></td>
          <td>
            <i data-bind="command: $parent.removePickedItemCommand" class="icon-button icon-button-1 fa fa-trash-o"></i>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="active">
          <td colspan="3">
            <button class="btn btn-link" data-bind="command: addPickedItemCommand"><i class="fa fa-plus-square fa-lg"></i><span> Add Item</span></button>
          </td>
          <td colspan="2" class="text-right valign-middle"><strong>Total</strong></td>
          <td class="valign-middle" data-bind="text: TotalQuantityPicked.formatted"></td>
          <td class="valign-middle" data-bind="text: TotalWeightPicked.formatted"></td>
          <td colspan="3"></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<!-- /ko -->
