<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="RioValleyChiliDataContext"
          connectionString="data source=184.168.85.21\SolutionSqlSrv01;user id=rvc;password=pE7laN!!,r%DY;Initial Catalog=RvcData;MultipleActiveResultSets=True"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="RioAccessSQLEntities"
          connectionString="metadata=res://RioValleyChili.Data.DataSeeders/OldDataModels.csdl|res://RioValleyChili.Data.DataSeeders/OldDataModels.ssdl|res://RioValleyChili.Data.DataSeeders/OldDataModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.85.21\SolutionSqlSrv01;Initial Catalog=RioAccessSQL;user id=rvc;password=pE7laN!!,r%DY;multipleactiveresultsets=True;App=EntityFramework&quot;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>
</configuration>