<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locater 
    finds an attribute "name" that has a value of "MyDB".
    -->
  
  <connectionStrings>
    <add name="RioValleyMemberStore" 
         connectionString="data source=.\RVCSQL01,59276;User id=IIS_RvcInternalApp;Password=yDL_F_WUfxjJT;Initial Catalog=RvcMemberStore"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      
    <add name="RioValleyChiliDataContext" 
          connectionString="data source=.\RVCSQL01,59276;User id=IIS_RvcInternalApp;Password=yDL_F_WUfxjJT;Initial Catalog=RvcData;MultipleActiveResultSets=True"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      
    <add name="RioAccessSQLEntities" 
          connectionString="metadata=res://RioValleyChili.Data.DataSeeders/OldDataModels.csdl|res://RioValleyChili.Data.DataSeeders/OldDataModels.ssdl|res://RioValleyChili.Data.DataSeeders/OldDataModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\RVCSQL01,59276;initial catalog=RioAccessSQL;User id=IIS_RvcInternalApp;Password=yDL_F_WUfxjJT;multipleactiveresultsets=True;App=EntityFramework&quot;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey xdt:Transform="Insert" 
      decryptionKey="1931FC740F1C33937E8F0510F7CD72C4860E054484B26535"
      validationKey="F6F93A818EC94F5D53F0451C818934C659801BEDFBB1BE2EE89A9D1D9164C5A3FBBB02B4BE1C112CBAECAC2B451F4FB5D10A889DB9A5F5BC160EA091981572F5"/>

    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>